As usual import libraries nothing new

I don't know why we all do this and talk about desiging intelligent systems all day!

!!!Great Part starts!!!

In [1]:

import pandas as pd
import numpy as np

The source of data is from

In [2]:
dir = "C:\\Users\\Saurabh\\Documents\\MADS_Subjects\\VisualizationTheBigData\\Project\\Uncleaned_Data\\"
df = pd.read_csv(dir + "mental_illness_and_suicide.csv")
# Load the data
#print(df.describe()) # Describing column values of data
#Columns renamed
df.rename(columns={
    "Entity": "Country",
    'Country_Code':'Code',
    'Deaths - Eating disorders - Sex: Both - Age: All Ages (Number) (deaths)':'Eating_Deaths',
    'DALYs (Disability-Adjusted Life Years) - Mental and substance use disorders - Sex: Both - Age: All Ages (Percent) (%)':'Mental_Disorder_pct',
    'Prevalence - Schizophrenia - Sex: Both - Age: Age-standardized (Percent) (%)':'Schizophrenia_pct',
    "Prevalence - Eating disorders - Sex: Both - Age: Age-standardized (Percent) (%)":'Eating_Disorder_pct',
    "Prevalence - Anxiety disorders - Sex: Both - Age: Age-standardized (Percent) (%)":'Anxiety_Disorder_pct',
    'Prevalence - Bipolar disorder - Sex: Both - Age: Age-standardized (Percent) (%)':'Bipolar_Disorder_pct',
    'Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent) (%)':'Depressive_Disorder_pct',
    'Prevalence - Alcohol and substance use disorders: Both (age-standardized percent) (%)':'Drug_Disorder_pct',
    'Percentage of share with mental illness and substance disorders':'Mental_Illness_Drug_pct',
    '70 years + (deaths per 100000)':'Suicide_Rate_70+',
    '50 - 59 + (deaths per 100000)':'Suicide_Rate_50_59',
    '0-14 Years Old + (deaths per 100000)':'Suicide_Rate_<15',
    '15 – 49 years old + (deaths per 100000)':'Suicide_Rate_15_49',
    'Suicide’s share of death ( cause of deaths)':'Suicide_pct_Deaths',
    'Suicide per 100000 ':'Suicide_Rate_per_1000000',
    'Females (Suicides per 100000)':'Suicide_Females_per_1000000',
    'Males (Suicides per 100000)':'Suicide_Males_per_1000000'}, inplace=True)

In [3]:
df.isna().count()

Country                        6776
Code                           6776
Year                           6776
Eating_Deaths                  6776
Mental_Disorder_pct            6776
Schizophrenia_pct              6776
Eating_Disorder_pct            6776
Anxiety_Disorder_pct           6776
Bipolar_Disorder_pct           6776
Depressive_Disorder_pct        6776
Drug_Disorder_pct              6776
Mental_Illness_Drug_pct        6776
Suicide_Rate_70+               6776
Suicide_Rate_50_59             6776
Suicide_Rate_<15               6776
Suicide_Rate_15_49             6776
Suicide_pct_Deaths             6776
Suicide_Rate_per_1000000       6776
Suicide_Females_per_1000000    6776
Suicide_Males_per_1000000      6776
dtype: int64

Selecting and describing right coulmns out of the data to tell a story


1.	Country                     : Country Name
2.	Country_Code                : Country Code
3.	Year                        : Year of Data
4.	Eating_Deaths               : Standardized Deaths Related to Eating as a percentage for all genders
5.	Mental_Disorder_pct         : Standardized Mental disorders for as a percentage all genders
6.	Schizophrenia_pct           : Standardized Schizophrenia disorders as a percentage for all genders
7.	Eating_Disorder_pct         : Standardized Eating disorders as a percentage for all genders
8.	Anxiety_Disorder_pct        : Standardized Anxiety disorders as a percentage for all genders
9.	Bipolar_Disorder_pct        : Standardized Bipolar disorders as a percentagefor all genders
10.	Depressive_Disorder_pct     : Standardized Depressive disordersas a percentage for all genders
11.	Drug_Disorder_pct           : Standardized drug disorders as a percentage for all genders
12.	Mental_Illness_Drug_pct     : Standardized mental illness as a percentage for all genders
13.	Suicide_Rate_70+            : Deaths per 100000  for 70+ year age
14.	Suicide_Rate_50_59          : Deaths per 100000  for 50+ - 59 year age
15.	Suicide_Rate_<15            : Deaths per 100000  for less than 15 year age
16.	Suicide_Rate_15_49          : Deaths per 100000  for less than 15-49 year age
17.	Suicide_pct_Deaths          : Suicide share  in each country as per all cause of deaths
18.	Suicide per 100000          : Suicide per 100000
19.	Suicide_Females             : Female suicide rate per 100000
20.	Suicide_Males               : Female suicide rate per 100000
    

Since we are interested in showing a part of story realated to mental health illnesss we can drop some columns

We are intereted in columns realted to mental health illness and suicide relation overall all aggregration so we can drop column :
 
 2.  Country Code : As we developed our own function to map it
 
 11. Drug Disorder pct : This part of feature is covered in column 12 as well

In [4]:
df = df.drop(columns=['Code', 'Drug_Disorder_pct']) # Dropping columns

print(df.isna().sum()) # Columns with  na values
#print(len(df))

Country                        308
Year                           308
Eating_Deaths                  308
Mental_Disorder_pct            308
Schizophrenia_pct              308
Eating_Disorder_pct            308
Anxiety_Disorder_pct           308
Bipolar_Disorder_pct           308
Depressive_Disorder_pct        308
Mental_Illness_Drug_pct        308
Suicide_Rate_70+               308
Suicide_Rate_50_59             308
Suicide_Rate_<15               308
Suicide_Rate_15_49             308
Suicide_pct_Deaths             308
Suicide_Rate_per_1000000       308
Suicide_Females_per_1000000    588
Suicide_Males_per_1000000      588
dtype: int64

In [5]:
df = df[df['Country'].notna()]   # Country with no values of data
print(df.isna().sum()) # Columns with  na values

Country                          0
Year                             0
Eating_Deaths                    0
Mental_Disorder_pct              0
Schizophrenia_pct                0
Eating_Disorder_pct              0
Anxiety_Disorder_pct             0
Bipolar_Disorder_pct             0
Depressive_Disorder_pct          0
Mental_Illness_Drug_pct          0
Suicide_Rate_70+                 0
Suicide_Rate_50_59               0
Suicide_Rate_<15                 0
Suicide_Rate_15_49               0
Suicide_pct_Deaths               0
Suicide_Rate_per_1000000         0
Suicide_Females_per_1000000    532
Suicide_Males_per_1000000      532
dtype: int64

Since Countries with na values do not contribute to any relation of  analysis it's better to drop it

Let's Get Country code

In [6]:

def get_Country_Code(df):
    """
    This function gives country codes of countries if country doesn't exist it removes it from the df names
    
    Input : Dataframe with input of Coloumn with name "Country"
    
    Output: Output with country code
    
    ** Remove country with na values**
    """
    import pycountry_convert as pc # pip install this package
    l = [x for x in df['Country']] # List for storing country name
    code = []  # list for storing continent name
    df['Country_Code'] = 0
    d = {'Micronesia (country)': 'FSM', 'Timor': ' TLS', 'Democratic Republic of Congo': 'COD',"Cote d'Ivoire":'CIV'}
    for i in l:  # Iterating over names of country names
        if i in list(d):  # Checking for dict values as this are hard values to get
                code.append(d[i])
                continue
        try:     # Try block for getiing the values
            country_code = pc.country_name_to_country_alpha3(i, cn_name_format="default")
            #c = pc.country_alpha2_to_continent_code(country_code) # converts country code to continent code
            #c = pc.convert_continent_code_to_continent_name(continent_name)
            code.append(country_code)
            
        except:   # For removing if error is raised
             df.drop(df.loc[df['Country']== i].index, inplace=True)
    df['Country_Code'] = code
    return df.reset_index(drop=True)  # Return the value if isn't there

df = get_Country_Code(df)

#print(df.isna().sum()) # Columns with  na values

In [7]:
print("Suicide Female and suicide male columns don't have data for some countries which are : ")
n = df[df.isnull().any(axis=1)]['Country'].unique().tolist()
print(n)

Suicide Female and suicide male columns don't have data for some countries which are :
['Andorra', 'Chad', 'Estonia', 'India', 'Indonesia', 'Nepal', 'Panama', 'Peru', 'Portugal', 'South Africa', 'Sweden', 'Switzerland', 'Syria', 'Uruguay', 'Yemen']

We cannot drop these values as these values play a important role in over all analysis instead we gonna replace it with overall average

So we need to check what is the global average of male to female suicide ratio in these countries and access to these is possible in world wide web as we need p ratio of these countries

Imported a .csv file with it and doind some basic cleaning

In [8]:
r = pd.read_csv(dir + "Male-Female-Ratio-of-Suicide-Rates.csv")
r.rename(columns = {
    'Entity':'Country',
    'Male:female suicide ratio':'M:F'}, inplace=True)
r = r.drop(columns=['Code'])
r.head(5)

       Country  Year   M:F
0  Afghanistan  1990  2.70
1  Afghanistan  1991  2.73
2  Afghanistan  1992  2.75
3  Afghanistan  1993  2.78
4  Afghanistan  1994  2.79

In [9]:
r = r[r.Country.isin(n)].reset_index(drop=True)

# Subsetting df so that join can be made
d1 = df[df.Country.isin(n)].reset_index(drop=True)

d2 = df.dropna().reset_index(drop=True)


# Merging d1 with with our dataframe r to get values
d = pd.merge(d1, r, on=['Country','Year'], how='inner')

# Running sinle loop to fill values
for i in range(len(d)):
    
     d['Suicide_Females_per_1000000'][i] = (1 / (d['M:F'][i] + 1)) * d['Suicide_Rate_per_1000000'][i]
     d['Suicide_Males_per_1000000'][i]   = (d['M:F'][i] / (d['M:F'][i] + 1)) * d['Suicide_Rate_per_1000000'][i]

C:\Program Files\Anaconda\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Program Files\Anaconda\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

In [10]:

# Finally merging two df to get single view and check na values
df = pd.concat([d,d2],sort=True)
df = df.drop(columns=['M:F']) # Dropping columns


print(df.isna().sum()) # Columns with  na values

Anxiety_Disorder_pct           0
Bipolar_Disorder_pct           0
Country                        0
Country_Code                   0
Depressive_Disorder_pct        0
Eating_Deaths                  0
Eating_Disorder_pct            0
Mental_Disorder_pct            0
Mental_Illness_Drug_pct        0
Schizophrenia_pct              0
Suicide_Females_per_1000000    0
Suicide_Males_per_1000000      0
Suicide_Rate_15_49             0
Suicide_Rate_50_59             0
Suicide_Rate_70+               0
Suicide_Rate_<15               0
Suicide_Rate_per_1000000       0
Suicide_pct_Deaths             0
Year                           0
dtype: int64

Let's look up another aspect of suicide and mental illness well being how much are the countries spending on the healthcare and other factores affecting it

Source of this data is from following websites:
GDP: https://data.worldbank.org/indicator/NY.GDP.MKTP.CD
Population: https://data.worldbank.org/indicator/SP.POP.TOTL
Unemployment: https://data.worldbank.org/indicator/SL.UEM.TOTL.ZS
CPI: https://data.worldbank.org/indicator/FP.CPI.TOTL
Food Production: https://data.worldbank.org/indicator/AG.PRD.FOOD.XD

In [11]:
 df1 = pd.read_csv(dir + "Economic_Data.csv")

Take only those countries which are present in last analysis i.e df of last frame

In [12]:
country = df.Country.unique().tolist() # Getting country in list
df1 = df1[df1.Country.isin(country)].reset_index(drop=True) # Taking only those countries in list

Let's do preliminary analysis of this dataset

In [13]:
df1.describe()
print(df1.isna().sum()) # Columns with  na values

Country              0
Country_Code         0
Year                 0
GDP                291
Population           0
Unemployment       546
Continent           28
IncomeGroup         28
FoodProduction     416
CPI                950
GINI              4086
dtype: int64

We are gonna replace continent values oursleves and Tableau is supersmart to identify!!
Dropping Food Production Column as we have GDP Indicator

Let's discuss the columns:

1. Country             : Country with their names
2. Country_Code        : Country codes
3. Year                : Year ranging from 1990 - 2017
4. GDP                 : GDP measured in USD
5. Population          : Actual Poulation count in millions
6. Unemployment        : Unemployment is percentage out of total people unemployed out of population
7. Continent           : Continent name 
8. IncomeGroup         : Income group of the country as defined by world bank
9. FoodProduction      : Food production is total food production index of country
10. CPI                : Consumer Price Index is a measure of inflation set by world bank
11. GINI               : It helps in measurement of inequality i.e higher the number the higher the inequality of wealth

In [14]:
df1 = df1.drop(columns=['Country_Code', 'Continent']) # Dropping column

******** Most Important Regarding N.A Values**********

Columns Unemployement, Food Production and C.P.I are the indicator of changes which cannot be generalised over a period of time

So it's not a great idea to replace it with mean values or frequency of most incurrent value so for visualising purpose we are keeping this n.a values

Finding countries having n.a values with only column of Income Group and replacing it with estimated values of last measured of that respective country

In [15]:
df1[['IncomeGroup']].bfill(axis=0, inplace=True)

C:\Program Files\Anaconda\lib\site-packages\pandas\core\frame.py:4259: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  **kwargs

Let's merge economic indicator data to our final dataframe to get aggregrated values of relations

In [16]:
# Merging d1 with with our dataframe r to get values
df = pd.merge(df1, df, on=['Country','Year'], how='inner')

In [17]:
df.describe()

,Year,GDP,Population,Unemployment,FoodProduction,CPI,GINI,Anxiety_Disorder_pct,Bipolar_Disorder_pct,Depressive_Disorder_pct,...,Mental_Illness_Drug_pct,Schizophrenia_pct,Suicide_Females_per_1000000,Suicide_Males_per_1000000,Suicide_Rate_15_49,Suicide_Rate_50_59,Suicide_Rate_70+,Suicide_Rate_<15,Suicide_Rate_per_1000000,Suicide_pct_Deaths
count,5460.000000,5.169000e+03,5.460000e+03,4914.000000,5044.000000,4.510000e+03,1374.000000,5460.000000,5460.000000,5460.000000,...,5460.000000,5460.000000,5460.000000,5460.000000,5460.000000,5460.000000,5460.000000,5460.000000,5460.000000,5460.000000
mean,2003.500000,2.574651e+11,3.262962e+07,8.283576,99.242617,8.138943e+01,39.187263,3.947774,0.717535,3.474351,...,12.926504,0.207948,5.756547,17.466918,13.805725,19.807426,30.110719,0.665954,11.948501,1.422106
std,8.078487,1.135314e+12,1.256625e+08,6.349720,26.074380,8.986793e+01,9.360470,1.137662,0.164415,0.673450,...,1.816910,0.041976,4.427974,13.188606,11.798430,13.658062,22.190424,0.875610,8.381369,1.087958
min,1990.000000,3.980954e+07,0.000000e+00,0.140000,0.070000,4.131430e-10,23.700000,2.023393,0.314535,2.139903,...,9.715255,0.146902,0.529270,2.338449,1.606804,2.828587,3.208721,0.037384,1.526792,0.109449
25%,1996.750000,3.291354e+09,1.449178e+06,3.655500,85.127500,5.649552e+01,31.800000,3.176496,0.616122,2.953517,...,11.440857,0.179262,2.850000,8.790000,6.913528,9.272147,12.152274,0.267642,6.482187,0.711033
50%,2003.500000,1.401079e+10,6.481214e+06,6.740500,98.330000,8.112735e+01,37.200000,3.505739,0.695039,3.460046,...,12.410090,0.198416,5.020000,15.005000,9.968232,16.737292,22.546248,0.483066,10.185062,1.151298
75%,2010.250000,9.674174e+10,2.091414e+07,11.156000,109.500000,1.030327e+02,46.175000,4.662053,0.831306,3.880110,...,14.164966,0.230024,7.302500,21.072500,16.338533,26.961937,44.553432,0.766753,14.796353,1.820854
max,2017.000000,1.948540e+13,1.386395e+09,37.939999,490.790000,4.583705e+03,65.800000,8.967330,1.206597,6.602754,...,19.115460,0.375110,48.710000,145.460000,156.183408,96.493884,147.957392,12.937600,98.831696,13.887123

The Population column has zero value which is not possible as not country has zero population else it's North Korea!

In [18]:
l = df[df['Population']==0]['Country'].unique().tolist()
print("The list of countries having zero population are :" + str(l))

The list of countries having zero population are :['Eritrea', 'Kuwait', 'Taiwan']

Let's fill the population of these countries by checking these over years by using the following website:
https://www.worldometers.info/world-population/

In [19]:
print(df[df['Population']==0][['Country','Year']])

      Country  Year
1590  Eritrea  2012
1591  Eritrea  2013
1592  Eritrea  2014
1593  Eritrea  2015
1594  Eritrea  2016
1595  Eritrea  2017
2578   Kuwait  1992
2579   Kuwait  1993
2580   Kuwait  1994
4760   Taiwan  1990
4761   Taiwan  1991
4762   Taiwan  1992
4763   Taiwan  1993
4764   Taiwan  1994
4765   Taiwan  1995
4766   Taiwan  1996
4767   Taiwan  1997
4768   Taiwan  1998
4769   Taiwan  1999
4770   Taiwan  2000
4771   Taiwan  2001
4772   Taiwan  2002
4773   Taiwan  2003
4774   Taiwan  2004
4775   Taiwan  2005
4776   Taiwan  2006
4777   Taiwan  2007
4778   Taiwan  2008
4779   Taiwan  2009
4780   Taiwan  2010
4781   Taiwan  2011
4782   Taiwan  2012
4783   Taiwan  2013
4784   Taiwan  2014
4785   Taiwan  2015
4786   Taiwan  2016
4787   Taiwan  2017

These are the countries and years whose population has been generalised over the years with some percentage changes 
Using this hypothesis we are gonna impute the changes

In [20]:
#print(df[df['Population']==0][['Country','Year']])

# Taiwan Population in 20 Years has increased with 0.5% on an average as described in the above website

l = df[df['Country'] == "Taiwan"]['Population'].index.values.tolist()

population_taiwan = 20478520
for i in l:
    df[df['Country'] == "Taiwan"]['Population'][i] = 1.05 * population_taiwan
    population_taiwan = 1.05 * population_taiwan

# We don't have population of Kuwait before 1995

# Assuming it has shown redution in 2 percent each year before 1996

l = df[(df['Country'] == "Kuwait") & (df['Population'] == 0)].index.values.tolist()[::-1] # The list is reversed 
population_kuwait =  df[df['Country'] == "Kuwait"]['Population'][l[0] + 1]
for i  in l:
    df[df['Country'] == "Kuwait"]['Population'][i] = 0.98 * population_kuwait
    population_kuwait = 0.98 * population_kuwait
 

# We don't have population of Eritrea after 2014

# Assuming it has shown increase in 1 percent each year before 1996

l = df[(df['Country'] == "Eritrea") & (df['Population'] == 0)].index.values.tolist()
population_Eritrea =  df[df['Country'] == "Eritrea"]['Population'][l[0]-1]
for i  in l:
    df[df['Country'] == "Eritrea"]['Population'][i] = 1.01 * population_Eritrea
    population_Eritrea = 1.01 * population_Eritrea

C:\Program Files\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

Let's check how country is reacting when countries are spending on pysciatric cases
The source of the data is from https://gateway.euro.who.int/en/indicators/hfa_488-5070-psychiatric-hospital-beds-per-100-000/

In [21]:
p = pd.read_csv(dir  + "phsychiatrists_per_100000.csv")

Let's discuss the columns:

1. TIME                : Year values
2. GEO                 : Countries
3. UNIT                : Unit of measuring
4. Value               : Number of phsychiatrists_per_100000

In [22]:
# Dropping row value based on column
p = p[p['UNIT'] != "Number"].reset_index(drop=True)
p = p.drop(columns=['UNIT']) # Dropping column of UNIT
# Renaming columns
p.rename(columns={
    'TIME': 'Year',
    'GEO':'Country',
    'Value' : 'Number_of_phsychiatrists_per_100000'}, inplace=True)

# Dropping year  value more than 2018 as we don't have in original dataset
p = p[p['Year'] != 2018].reset_index(drop=True)

In [23]:
#Finally joining to get a cleaned dataset
df = pd.merge(df, p, on=['Country','Year'], how='left')

Let' go now to check how does happpiness index and well being relate with mental health and suicide statistics

Since happiness index data has only been measure of score prominantly from 2015 we are uding only 3 years of data 2015, 2016 and 2017 for our analysis

Let's check how country is reacting when countries are spending on pysciatric  beds and indicated mental health severity spending
The source of the data is from https://gateway.euro.who.int/en/indicators/hfa_488-5070-psychiatric-hospital-beds-per-100-000/

In [24]:
p = pd.read_csv(dir  + "phsychiatrists_beds_per_100000.csv")
p

     COUNTRY COUNTRY_GRP  SEX  YEAR  VALUE
0        ALB         NaN  ALL  1988  40.57
1        ALB         NaN  ALL  1989  37.74
2        ALB         NaN  ALL  1990  38.61
3        ALB         NaN  ALL  1991  39.85
4        ALB         NaN  ALL  1992  40.81
...      ...         ...  ...   ...    ...
1553     NaN    WHO_EURO  ALL  2010  71.66
1554     NaN    WHO_EURO  ALL  2011  70.73
1555     NaN    WHO_EURO  ALL  2012  69.95
1556     NaN    WHO_EURO  ALL  2013  69.26
1557     NaN    WHO_EURO  ALL  2014  68.13

[1558 rows x 5 columns]

Let's discuss the columns:

1. COUNTRY            : Country Codes
2. COUNTRY_GRP        : Countries
3. SEX                : Unit of measuring
4. YEAR               : Year when survey was made
4. Value              : Number_of_phsychiatrists_beds_per_100000

In [25]:
# Dropping row value based on column
# No use of two cols as sex is common
p = p.drop(columns=['COUNTRY_GRP','SEX'])
# Renaming columns
p.rename(columns={
    'COUNTRY': 'Country_Code',
    'YEAR'   : 'Year',
    'VALUE' : 'Number_of_phsychiatrists_beds_per_100000'}, inplace=True)

In [26]:
#Finally joining to get a cleaned dataset
df = pd.merge(df, p, on=['Country_Code','Year'], how='left')

In [27]:
d1 = pd.read_csv(dir + "2015 happiness index.csv")
d2 = pd.read_csv(dir + "2016 happiness index.csv")
d3 = pd.read_csv(dir + "2017 happiness index.csv")

Cleaning the data to join

In [28]:
d1 = d1[['Country','Happiness Rank','Happiness Score','Economy (GDP per Capita)','Family','Freedom','Health (Life Expectancy)','Trust (Government Corruption)','Generosity','Year']]
d2 = d2[['Country','Happiness Rank','Happiness Score','Economy (GDP per Capita)','Family','Freedom','Health (Life Expectancy)','Trust (Government Corruption)','Generosity','Year']]
#d3 = d3[['Country','Region','Happiness Rank','Happiness Score','Economy (GDP per Capita)','Family','Freedom','Trust (Government Corruption)','Generosity']]
d3.rename(columns={
    'Entity': 'Country',
    'Happiness.Rank':'Happiness Rank',
    'Happiness.Score':'Happiness Score',
    'Economy..GDP.per.Capita.':'Economy (GDP per Capita)',
    'Health..Life.Expectancy.':'Health (Life Expectancy)',
    'Trust..Government.Corruption.':'Trust (Government Corruption)'}, inplace=True)
d3 = d3[['Country','Happiness Rank','Happiness Score','Economy (GDP per Capita)','Family','Freedom','Health (Life Expectancy)','Trust (Government Corruption)','Generosity','Year']]

In [29]:
h = pd.concat([d1,d2,d3],sort=True) # Merging dataframe to one 
# Group by and droppping column
d = h.groupby(['Country', 'Year']).mean()
h = d.drop(columns=['Happiness Rank']) # Dropping column of rank
h

                  Economy (GDP per Capita)    Family   Freedom  Generosity  \
Country     Year
Afghanistan 2015                  0.319820  0.302850  0.234140    0.365100
            2016                  0.382270  0.110370  0.164300    0.312680
            2017                  0.401477  0.581543  0.106180    0.311871
Albania     2015                  0.878670  0.804340  0.357330    0.142720
            2016                  0.955300  0.501630  0.318660    0.168400
...                                    ...       ...       ...         ...
Zambia      2016                  0.612020  0.637600  0.426620    0.178660
            2017                  0.636407  1.003187  0.461603    0.249580
Zimbabwe    2015                  0.271000  1.032760  0.258610    0.189870
            2016                  0.350410  0.714780  0.254290    0.185030
            2017                  0.375847  1.083096  0.336384    0.189143

                  Happiness Score  Health (Life Expectancy)  \
Country     Year
Afghanistan 2015            3.575                  0.303350
            2016            3.360                  0.173440
            2017            3.794                  0.180747
Albania     2015            4.959                  0.813250
            2016            4.655                  0.730070
...                           ...                       ...
Zambia      2016            4.795                  0.235730
            2017            4.514                  0.257836
Zimbabwe    2015            4.610                  0.334750
            2016            4.193                  0.159500
            2017            3.875                  0.196764

                  Trust (Government Corruption)
Country     Year
Afghanistan 2015                       0.097190
            2016                       0.071120
            2017                       0.061158
Albania     2015                       0.064130
            2016                       0.053010
...                                         ...
Zambia      2016                       0.114790
            2017                       0.078214
Zimbabwe    2015                       0.080790
            2016                       0.085820
            2017                       0.095375

[470 rows x 7 columns]

In [30]:
h.to_csv(dir + "Happiness_Index.csv" )
h = pd.read_csv(dir + "Happiness_Index.csv" )
#h = get_Country_Code(h)[['Country','Country_Code','Happiness Score','Economy (GDP per Capita)','Family','Freedom','Health (Life Expectancy)','Trust (Government Corruption)','Generosity','Year']]
df = pd.merge(df, h, on=['Country','Year'], how='left')

Get Continent name

In [31]:

def get_Continent(df):
    """
    This function gives country codes of countries if country doesn't exist it removes it from the df names
    
    Input : Dataframe with input of Coloumn with name "Country"
    
    Output: Output with country code
    
    ** Remove country with na values**
    """
    import pycountry_convert as pc # pip install this package
    l = [x for x in df['Country']] # List for storing country name
    code = []  # list for storing continent name
    df['Continent'] = 0
    d = {'Micronesia (country)': 'Oceania', 'Timor': 'Asia', 'Democratic Republic of Congo': 'Africa',"Cote d'Ivoire":'Africa'} 
    for i in l:  # Iterating over names of country names
        try:     # Try block for getiing the values
            if i in list(d):
                code.append(d[i])  # Checking in dict as these are hard country names to detect in package
                continue
            country_code = pc.country_name_to_country_alpha2(i, cn_name_format="default")
            c = pc.country_alpha2_to_continent_code(country_code) # converts country code to continent code
            c = pc.convert_continent_code_to_continent_name(c)
            code.append(c)
            
        except:   # For removing if error is raised
             df.drop(df.loc[df['Country']== i].index, inplace=True)
    
    df['Continent'] = code
    return df.reset_index(drop=True)  # Return the value if isn't there

df = get_Continent(df)
df.head(5)
#print(df.isna().sum()) # Columns with  na values

,Country,Year,GDP,Population,Unemployment,IncomeGroup,FoodProduction,CPI,GINI,Anxiety_Disorder_pct,...,Number_of_phsychiatrists_per_100000,Number_of_phsychiatrists_beds_per_100000,Economy (GDP per Capita),Family,Freedom,Generosity,Happiness Score,Health (Life Expectancy),Trust (Government Corruption),Continent
0,Afghanistan,1990,NaN,12412308,NaN,Low income,68.12,NaN,NaN,4.828830,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Asia
1,Afghanistan,1991,NaN,13299017,2.976,Low income,74.24,NaN,NaN,4.829740,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Asia
2,Afghanistan,1992,NaN,14485546,3.173,Low income,71.75,NaN,NaN,4.831108,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Asia
3,Afghanistan,1993,NaN,15816603,3.463,Low income,76.25,NaN,NaN,4.830864,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Asia
4,Afghanistan,1994,NaN,17075727,3.612,Low income,81.33,NaN,NaN,4.829423,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Asia

1. Let's check the average healthcare expenditure in these countries from only year 2000.
2. The Source of this data is from https://data.oecd.org/healthres/health-spending.html

In [32]:
h = pd.read_csv(dir  + "healthcare_expenditure_per_capita.csv")

Let's discuss the columns:

1. LOCATION             : Country code
2. INDICATOR            : Countries
3. SUBJECT              : Unit of measuring
4. MEASURE              : Number of phsychiatrists_per_100000
5. FREQUNECY            : Frequncy of survey by world bank
6. TIME                 : Year when data is collected
7. VALUE                : Economic value
8. Flag Codes           : Flag Codes set by world bank

In [33]:
h = h.drop(columns=['INDICATOR','SUBJECT','MEASURE','FREQUENCY','Flag Codes']) # Dropping column of UNIT
h.rename(columns = {
    'LOCATION':'Country_Code',
    'TIME':'Year',
    'Value':'Expenditure_Value'}, inplace=True)

Merging for looking into Expenditure

In [34]:
df = pd.merge(df, h, on=['Country_Code','Year'], how='left')

Let's see deaths due to alcohol

In [35]:
d = pd.read_csv(dir + "rate-of-premature-deaths-due-to-alcohol.csv")
d.rename(columns={
    'Entity': 'Country',
    'Deaths - Alcohol use - Sex: Both - Age: Age-standardized (Rate) (Rate)':'Alcohol_Use_Death_Rate'}, inplace=True)
d = d.drop(columns=['Code'])
df = pd.merge(df,d, on=['Country','Year'], how='left')

Let's see corruption index

In [36]:
d = pd.read_csv(dir + "TI-corruption-perception-index.csv")
d.rename(columns={
    'Entity': 'Country'}, inplace=True)
d = d.drop(columns=['Code'])
df = pd.merge(df,d, on=['Country','Year'], how='left')

Let's see C02 emissions

In [37]:
d = pd.read_csv(dir + "co-emissions-per-capita.csv")
d.rename(columns={
    'Entity': 'Country',
    'Per capita CO₂ emissions (tonnes per capita)' :'Per capita CO₂ emissions'}, inplace=True)
d = d.drop(columns=['Code'])
df = pd.merge(df,d, on=['Country','Year'], how='left')

Let's see diability

In [38]:
d = pd.read_csv(dir + "dalys-rate-from-all-causes.csv")
d.rename(columns={
    'Entity': 'Country',
    'DALYs (Disability-Adjusted Life Years) - All causes - Sex: Both - Age: Age-standardized (Rate) (DALYs per 100,000)' :'DALY'}, inplace=True)
d = d.drop(columns=['Code'])
df = pd.merge(df,d, on=['Country','Year'], how='left')

Let's see healthcare expenditure percentage

In [39]:
d = pd.read_csv(dir + "share-of-public-expenditure-on-healthcare-by-country.csv")
d.rename(columns={
    'Entity': 'Country',
    ' (% of total health expenditure)' :'Healthcare_Expenditure_%'}, inplace=True)
d = d.drop(columns=['Code'])
df = pd.merge(df,d, on=['Country','Year'], how='left')

Let's see average years of schooling

In [40]:
d = pd.read_csv(dir + "mean-years-of-schooling-1.csv")
d.rename(columns={
    'Entity': 'Country',
    'Average total years of schooling for adult population (years)' :'Average Year Schooling'}, inplace=True)
d = d.drop(columns=['Code'])
df = pd.merge(df,d, on=['Country','Year'], how='left')

Let's see deaths from air pollution

In [41]:
d = pd.read_csv(dir + "share-deaths-air-pollution.csv")
d.rename(columns={
    'Entity': 'Country'}, inplace=True)
d = d.drop(columns=['Code'])
df = pd.merge(df,d, on=['Country','Year'], how='left')

Let's see death due to unsafe water

In [42]:
d = pd.read_csv(dir + "death-rates-unsafe-water.csv")
d.rename(columns={
    'Entity': 'Country',
    'Deaths - Unsafe water source - Sex: Both - Age: Age-standardized (Rate) (deaths per 100,000)':'Deaths_Unsafe_Water'}, inplace=True)
d = d.drop(columns=['Code'])
df = pd.merge(df,d, on=['Country','Year'], how='left')

Let's see women economic rights

In [43]:
d = pd.read_csv(dir + "womens-economic-rights.csv")
d.rename(columns={
    'Entity': 'Country',
    "Women's Economic Rights - ciri_wecon":'Women_economic_rights'}, inplace=True)
d = d.drop(columns=['Code'])
df = pd.merge(df,d, on=['Country','Year'], how='left')

Let's see share of agriculture land

In [44]:
d = pd.read_csv(dir + "agricultural-area-per-capita.csv")
d.rename(columns={
    'Entity': 'Country',
    ' (hectares per person)':'hectares_per_person'}, inplace=True)
d = d.drop(columns=['Code'])
df = pd.merge(df,d, on=['Country','Year'], how='left')

Let's see share of urban population

In [45]:
d = pd.read_csv(dir + "share-of-population-urban.csv")
d.rename(columns={
    'Entity': 'Country',
    'Urban population (% of total) (% of total)':'Urban_population'}, inplace=True)
d = d.drop(columns=['Code'])
df = pd.merge(df,d, on=['Country','Year'], how='left')

In [46]:
# Final Cleaned Data
df.to_csv(dir + "Final_Data.csv")